.App {
  text-align: center;
}

.btn {
  font-size: 30px;
  height: 85px;
  width: 450px;
  margin: 25px auto;
  text-align: left;
  background-color: #D34735;
  color: white;
  display: block;
  cursor: pointer;
}

.App-header {
  background-color: #AB2A19;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 30px;
}